body{
height:100vh;
width: 100vw;
 background-repeat:no-repeat;
background-size:cover;
Xoverflow-x:hidden;
Xoverflow-y:hidden;
background-attachment:fixed;
}

a,a h6{
color:white;
text-decoration:none;
}


h1,h2,h3,h4,h5{
    color:white;
    margin:0px;
    padding:0px;
    background-color:rgba(0,0,0,0.8);
    border-bottom:1px solid white;
}
.accordion,.accordion-button,.accordion-item,.accordion-item> div,.accordion-header,.accordion-body{
    color:white;
    background-color:rgba(0,0,0,0.3);
}

.container-fluid div,.AREA div{
    background-color:rgba(0,0,0,0.3);
}
.AREA,.Col{
    background-color:rgba(0,0,0,0.3);
    height:90vh;
}

body > .w3-row,body > .w3-row-padding{
background-color:rgba(0,0,0,0.6);
}

.w3-col,.w3-rest{
Xmin-height:42vh;
max-height:100vh;
overflow-x:hidden;
overflow-y:scroll;
height:100%;

}

.w3-rest{
Xmin-height:42vh;
height:100vh;

}

.card{
padding:0px;
Xheight:45vh;
Xmax-height:40vh;
border-radius:20px;
background-color:rgba(0,0,0,0.8);
    border:1px solid grey;
Xmargin-top:35px;
overflow-x:hidden;
overflow-y:scroll;
}



.card:hover{

    background-color:rgba(0,0,0,0.9);
border-radius:20px;
    border:1px solid white;
}

.card:hover *{
    color:white;
}
.card:hover .list-group-item *{
    color:grey;
}
.card-title{
    color:white;
    margin:0px;
    padding:0px;
    background-color:rgba(0,0,0,0.3);
    border-bottom:0px solid white;
font-weight:bold;
text-decoration:none;
display: grid;
            grid-template-rows: repeat(2, 25px);
            Xgrid-template-columns: repeat(12, 90px);
            Xgrid-auto-rows: 50px;
            Xgrid-gap: 10px;

}


.card-title >h5{
    border-bottom:0px solid white;
    background-color:rgba(0,0,0,0.0);
grid-row: 1 / span 1;
grid-column: 2 / span 15;
padding:0px;
margin:0px;
color:grey;
margin-left:0px;
padding:0;
font-size:18px;
}

.card-title >p{
grid-row: 2 / span 1;
grid-column: 2 / span 15;
padding:0px;
margin:0px;
color:grey;
font-size:10px;
}

.card-title >.card-img{

grid-row: 1 / span 1;
grid-column: 1 / span 1;
padding:0px;
margin:0px;
padding-left:10px;
padding-right:10px;
}
.card-img > img{
width:45px;
height:45px;
}
.card-img-top {
padding:0px;
margin:0px;
    width: 100%;
    object-fit: cover;
    Xmax-height:50px;
}
.card-img >img{
    border:1px solid grey;
}

.card-img:hover >img{
    border:1px solid white;
}
.card-header{
padding:0px;
margin:0px;
    margin-top:10px;
    margin-bottom:0px;
    background-color:rgba(0,0,0,0.3);
Xtext-align:center;
}


.card-body{
Xmax-width:350px;
Xmax-height:350px;
width:100%;
overflow-x:hidden;
overflow-y:scroll;
    background-color:rgba(0,0,0,0.3);
}

.card-itemsX div{
    background-color:white;
}

iframe{
    background-color:white;
}





.image-container {
  position: relative;
  text-align: center;
}

.image-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.list-group *{
    color:grey;
    background-color:rgba(0,0,0,0.0);
}
.list-group-item{
padding:0px;
margin:0px;
    background-color:rgba(0,0,0,0.3);
border-radius:0px;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}
.list-group-item:hover,.card:hover .list-group-item:hover{
    background-color:rgba(0,0,0,0.6);
Xborder-radius:0px;
    border-top:1px solid white;
    border-bottom:1px solid white;
    color:white;
}
.list-group-item:hover *,.card:hover .list-group-item:hover *{
    color:white;
}


.nav-tabs .active{
    background-color:rgba(0,0,0,0.0);
}

.nav-tabs .nav-item:hover{
    background-color:rgba(0,0,0,0.9);
}
.nav-tabs .nav-item button{
width:100px;
  font-size: 12px;
color:grey;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  color: white;
    background-color:rgba(0,0,0,1);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.fullsize{
width:100%;
height:100%;
}
.fullscreen{
width:100vw;
height:100vh;
}

.scrollable{
overflow-x:hidden;
overflow-y:scroll;
}

.form-control{
    background-color:rgba(0,0,0,0.2);
}

.card:hover .form-control{
    background-color:rgba(0,0,0,0.6);
}

button,
fieldset,
input,
legend,
select,
textarea {
    appearance: none;
    background-color:rgba(0,0,0,0.3);
    width:100%;
    color:white;
}

form{
    min-height: 100px;
    border-radius:15px;
    padding:15px;
border: 1px solid white;
margin-bottom:25px;
margin-bottom:25px;
padding-top:0px;
    background-color:rgba(0,0,0,0.6);
}


Xform  * {
  display: inline-block;
    width:100%;
    margin-bottom:5px;

    color:white;
    border: none;
    background:rgba(0,0,0,0);

}

.MyForms input {
width:100%;
floatX:right; 
    background:rgba(0,0,0,0.3);
    margin-bottom:15px;
    flexX:1 auto ;

}

.MyForms input:focus  {
    color:white;
    background:rgba(0,0,0,0.9);
}

.MyForms input:hover {
    color:black;
    background:rgba(0,0,0,1);
}


.MyForms:hover h5,
.MyForms:hover p,
.MyForms:hover input
 {
    color:white;
    background-color:rgba(0,0,0,0.6);
}

.MyForms h5,
.MyForms p,
.MyForms input
 {
    color:grey;
    background-color:rgba(0,0,0,0.3);
}

.XMyForms button {
float:right; 
    height:120px;
    font-size:15px;
    max-width:120px;
    border: 1px solid white;

    padding:6px;
    vertical-align: center;
    text-align: center;
    border-radius:15px;
    background-color:rgba(0,0,0,1);
}

.MyForms h5 {
    border-bottom:1px solid grey;
width:100%; 
    font-familyX: 'Anton', sans-serif;

    font-size:16px;
    color:grey;
    background-color:rgba(0,0,0,0.5);

padding:15px;
}
.MyForms >p {
width:100%; 
    font-familyX: 'Anton', sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
    margin-top:15px;
    margin-bottom:15px;
}


.accordion-button,
.accordion{
width:100%;
}
.accordion-item{
    background-color:rgba(0,0,0,0.1);
}

.accordion-button:not(.collapsed){
    background-color:rgba(0,0,0,0.4);
}

.warning{
    color:grey;
    background-color:rgba(100,0,0,0.4);
}
.success{
    color:grey;
    background-color:rgba(0,100,0,0.4);
}

.infos{
    color:white;
    background-color:rgba(0,0,0,0.7);
}


